<p id="notice"><%= notice %></p>

<h1>Villains</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Style</th>
      <th>Special moves</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @villains.each do |villain| %>
      <tr>
        <td><%= villain.name %></td>
        <td><%= "#{villain.weight} kg" %></td>
        <td><%= "#{villain.height} cm" %></td>
        <td><%= villain.style %></td>
        <td><%= villain.special_moves %></td>
        <td><%= link_to 'Show', villain %></td>
        <td><%= link_to 'Edit', edit_villain_path(villain) %></td>
        <td><%= link_to 'Destroy', villain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Villain', new_villain_path %>
<%= link_to 'Battles', battles_path %>
<%= link_to 'Heroes', heros_path %>
